.conteiner {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.areaPrincipal {
  margin-left: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.conteudo {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodape {
  text-align: center;
  padding: 15px;
  background-color: var(--cor-branco-01);
  border-top: 1px solid var(--cor-branco-11);
}
