.conteiner {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
}

.titulo {
    font-family: var(--fonte-base);
    font-size: var(--tamanho-titulo-grande);
    color: var(--cor-primaria);
    position: absolute;
    top: 50px;
    transform: scaleY(1.2);
    z-index: 1;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--cor-texto);
}

.icone {
    margin-bottom: 20px;
    font-size: var(--tamanho-titulo-grande);
    color: var(--cor-perigo); 
}

.mensagem {
    color: var(--cor-perigo);
    font-size: var(--tamanho-medio);
}